{% extends "base.twig" %}
{% import "macros.twig" as func %}

{% block contents %}
    <section>
        <div class="container">
            <div class="entry-list single">
                <article>
                    <h1>{{ post.title|raw }}</h1>
                    <time datetime="{{ post.date }}">{{- func.dateString(post.date) -}}</time>
                    <div class="entry">
                        <p>{{ post.body|raw|nl2br }}</p>
                        {% if post.tags is not empty %}                            
                            {% set tags = post.tags|split(';') %}
                            {% for tag in tags %}
                                <span class="pure-button button-xsmall button-success">{{- tag -}}</span>
                            {% endfor %}
                        {% endif %}
                        <p><a class="link" href="{{- func.uri('/edit', post, 'id') -}}">Edit Entry</a></p>
                    </div>
                </article>
            </div>
        </div>
    </section>
    <section class="entry-comments">
        <div class="container">
                <h2>Comments</h2>
                {% for comment in comments %}
                    <div class="comment" data-commentID="{{ comment.id }}">
                        <strong>{{ comment.name }}</strong>
                        <time datetime="{{ comment.created_at }}">{{ func.dateString(comment.created_at) }}</time>
                        <p>{{ comment.body|nl2br }}</p>
                    </div>
                {% endfor %}
                <div class="new-comment">
                    <form action="{{ path }}" method="POST">
                        <label for="name">Name</label>
                        <input type="text" name="name"><br>
                        <label for="body">Comment</label>
                        <textarea rows="5" name="body"></textarea>
                        <input type="submit" value="Post Comment" class="button">
                    </form>
                </div>
        </div>
    </section>
    
{% endblock contents %}