{% extends "base.twig" %}
{% import "macros.twig" as func %}

{% block contents %}
    
    <section>
        <div class="container">
            <div class="entry-list">

                {% for post in posts %}
                    <article>
                        <h2><a href="{{- func.uri("/detail", post) -}}">{{ post.title }}</a></h2>
                        <time datetime="{{ post.date }}">{{ func.dateString(post.date) }}</time>
                        <ol>
                            {% if post.tags is not empty %}
                                
                                {% set tags = post.tags|split(';') %}
                                {% for tag in tags %}
                                    <span class="pure-button button-xsmall button-success">{{- tag -}}</span>
                                {% endfor %}

                            {% endif %}
                        </ol>
                    </article>    
                {% endfor %}
 
            </div>
        </div>
    </section>

{% endblock contents %}