{% extends "base.twig" %}
{% import "macros.twig" as func %}

{% block contents %}
    
    <section>
        <div class="container">
            <div class="entry-list">
                {% for post in posts %}
                    <article>
                        <h2><a href="{{- func.uriTitle("/blog", post) -}}">{{ post.title|raw }}</a></h2>
                        <time datetime="{{ post.date }}">{{ func.dateString(post.date) }}</time>
                        {% if post.tags is not empty %}
                            <div class="marginTop">    
                                {% set tags = post.tags|split(';') %}
                                {% for tag in tags %}
                                    <span class="pure-button button-xsmall button-success">{{- tag -}}</span>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </article>    
                {% endfor %}
 
            </div>
        </div>
    </section>

{% endblock contents %}